---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=First-month+subscription+fee+for+Adeline+O%27Connell&source=tok_17xjVEH5BD0l29UeJtIUl2jy
    headers:
      Authorization:
      - Bearer sk_test_gjrjS85XDYH5zREDVUmXk2kQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17xjVEH5BD0l29UeHgtyzuWG",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17xjVEH5BD0l29UeQRS1CKMu",
          "captured": true,
          "created": 1460060000,
          "currency": "usd",
          "customer": null,
          "description": "First-month subscription fee for Adeline O'Connell",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17xjVEH5BD0l29UeHgtyzuWG/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17xjVEH5BD0l29Ue1Ldptdoz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "ftJsWM0BXmH2mbMj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": "Adeline O'Connell",
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 07 Apr 2016 20:13:21 GMT
recorded_with: VCR 3.0.1
