---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=First-month+subscription+fee+for+Franco+Dach&source=tok_17xjaJH5BD0l29UejZX1Rm9x
    headers:
      Authorization:
      - Bearer sk_test_gjrjS85XDYH5zREDVUmXk2kQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17xjaJH5BD0l29UeoeMlZW75"
          }
        }
  recorded_at: Thu, 07 Apr 2016 20:18:36 GMT
recorded_with: VCR 3.0.1
