---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[exp_month]=1&card[exp_year]=2020&card[number]=4242424242424242
    headers:
      Authorization:
      - Bearer sk_test_gjrjS85XDYH5zREDVUmXk2kQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17xBQrH5BD0l29UeVXVwd4hY",
          "object": "token",
          "card": {
            "id": "card_17xBQrH5BD0l29UeNIS4JsH9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "ftJsWM0BXmH2mbMj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "76.102.183.74",
          "created": 1459929033,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 06 Apr 2016 07:50:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=test&source=tok_17xBQrH5BD0l29UeVXVwd4hY
    headers:
      Authorization:
      - Bearer sk_test_gjrjS85XDYH5zREDVUmXk2kQ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17xBQrH5BD0l29UeaiQ8SiV4",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17xBQrH5BD0l29UehH1xStDp",
          "captured": true,
          "created": 1459929033,
          "currency": "usd",
          "customer": null,
          "description": "test",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17xBQrH5BD0l29UeaiQ8SiV4/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17xBQrH5BD0l29UeNIS4JsH9",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 1,
            "exp_year": 2020,
            "fingerprint": "ftJsWM0BXmH2mbMj",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 06 Apr 2016 07:50:34 GMT
recorded_with: VCR 3.0.1
